Repository JTaeuber/test-chart, pull requests merged in 2025-03, with the labels that each got.

#50 Chore branch
  .github/workflows/check-for-release.yaml
Labels: test

#51 try new ref
  .github/workflows/check-for-release.yaml
Labels: test

#53 😟hrug
  test-chart/Chart.yaml
Labels: new release

#54 Test/new workflow
  .github/workflows/docker_build.yaml
  .github/workflows/helm_build.yaml
  test-chart/Chart.yaml
Labels: test, new release

#55 Fix/chart path
  .github/workflows/create_dev_build.yaml
Labels: bug, test

#57 Chore/another release
  .github/workflows/check_version.yaml
  .github/workflows/helm_build.yaml
  test-chart/Chart.yaml
Labels: test, new release

#59 chore: make 3.0.0
  test-chart/Chart.yaml
Labels: test, new release

#60 Chore/make dev usable
  .github/workflows/create_dev_build.yaml
  test-chart/Chart.yaml
Labels: bug, test, new release

#61 chore: create 3.0.0
  test-chart/Chart.yaml
Labels: new release

#62 test: try inheriting secrets
  .github/workflows/check_version.yaml
  .github/workflows/create_dev_build.yaml
  .github/workflows/helm_build.yaml
  test-chart/Chart.yaml
Labels: test, new release
